<div class="items-group clipboard-items">
    <div class="cask">
        <div class="mni-vertical">
            <i class="ms-Icon ms-Icon--FullWidthEdit" aria-hidden="true"></i>
            <div>
                <span class="txt">Themes</span>
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="others">
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--Color" aria-hidden="true"></i>Colors
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--Font" aria-hidden="true"></i>Fonts
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--TransitionEffect" aria-hidden="true"></i>Effects
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Themes</p>
    </div>
</div>