<div class="items-group editing-items">
    <div class="cask">
        <div class="align-half">
            <div class="group-mni">
                <span>
                    <i class="ms-Icon ms-Icon--Variable" aria-hidden="true"></i>
                    <span>AutoSum</span>
                </span>
                <i dropmenu class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
                <div class="dropmenu" tabindex="0">
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Sum</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>Average</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>Count Numbers</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>Max</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>Min</span>
                    </div>
                    <div class="item"><span></span><span class="hr"></span></div>
                    <div class="item">
                        <span></span>
                        <span>More Functions</span>
                    </div>
                </div>
            </div>
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--WindowEdit" aria-hidden="true"></i>Fill
                <span dropmenu><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                <div class="dropmenu" tabindex="0">
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Down</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Right</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Up</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Left</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>Across workseets</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>Series</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>Justify...</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Flash Fill</span>
                    </div>
                </div>
            </div>
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--EraseTool" aria-hidden="true"></i>Clear
                <span dropmenu><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                <div class="dropmenu" tabindex="0">
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Clear All</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Clear Formats</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>Clear Contents</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>Clear Comments</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>Clear Hyperlinks</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Remove Hyperlinks</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="align-half">
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--Filter" aria-hidden="true"></i>
                <div dropmenu>
                    <span class="txt">Sort &<br />Filter</span>
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
                <div class="dropmenu" tabindex="0">
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Sort A-Z</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Sort Z-A</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Custom Sort...</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span class="hr"></span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Filter</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Clear</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Reapply</span>
                    </div>
                </div>
            </div>
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--Search" aria-hidden="true"></i>
                <div dropmenu>
                    <span class="txt">Find &<br />Select</span>
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
                <div class="dropmenu" tabindex="0">
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Find</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Replace </span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Go To </span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>Go To Special...</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span class="hr"></span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>Formula</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>Commments</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>Conditional Formating</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>Constants</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>Data Validation</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span class="hr"></span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Select Objects</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Seletion Pane</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Editing</p>
        <i class="ms-Icon ms-Icon--ArrowDownRight8" aria-hidden="true"></i>
    </div>
</div>