<div class="items-group editing-items">
    <div class="cask">
        <div class="align-half">
            <div class="group-mni">
                <span>
                    <i class="ms-Icon ms-Icon--Variable" aria-hidden="true"></i>
                    <span>AutoSum</span>
                </span>
                <i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
            </div>
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--WindowEdit" aria-hidden="true"></i>Fill
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--EraseTool" aria-hidden="true"></i>Clear
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="align-half">
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--Filter" aria-hidden="true"></i>
                <div>
                    <span class="txt">Sort &<br />Filter</span>
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--Search" aria-hidden="true"></i>
                <div>
                    <span class="txt">Find &<br />Select</span>
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Editing</p>
        <i class="ms-Icon ms-Icon--ArrowDownRight8" aria-hidden="true"></i>
    </div>
</div>