<div class="items-group">
    <div class="cask">
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--ProtectedDocument" aria-hidden="true"></i>
            <div>
                <span class="txt">Protect</span><br />Sheet
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--MarkAsProtected" aria-hidden="true"></i>
            <div>
                <span class="txt">Protect</span><br /> Workbook
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--EditNote" aria-hidden="true"></i>
            <div>
                <span class="txt">Allow Edit</span><br /> Ranges
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--Share" aria-hidden="true"></i>
            <div>
                <span class="txt">Unshare</span><br /> Workbook
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Protect</p>
    </div>
</div>