<div class="items-group">
    <div class="cask">
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--NotExecuted" aria-hidden="true"></i>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--BorderDot" aria-hidden="true"></i>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--InkingTool" aria-hidden="true"></i>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--InkingTool" aria-hidden="true"></i>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--InkingTool" aria-hidden="true"></i>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--InkingTool" aria-hidden="true"></i>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--InkingTool" aria-hidden="true"></i>
        </div>
    </div>
    <div class="group-title">
        <p>Drawing Tools</p>
    </div>
</div>