.clipboard-items .paste{
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: default;
}

.clipboard-items .paste:hover{
    border: 1px solid var(--border-color);
}

.clipboard-items .paste:hover i.ms-Icon--Paste{
    border-bottom: 1px solid var(--border-color);
}

.clipboard-items .paste i.ms-Icon--Paste{
    padding: 0 5px;
    font-size: 31px;
    border-bottom: 1px solid transparent;
}

.clipboard-items .paste i.ms-Icon--Paste:hover{
    background-color: var(--menu-hover);
}

.clipboard-items .paste > div{
    padding: 0 5px;
    text-align: center;
}

.clipboard-items .paste > div:hover{
    background-color: var(--menu-hover);
}

.clipboard-items .paste .txt{
    display: block;
    font-size: 12px;
    padding-top: 3px;
}

.clipboard-items .paste > div i{
    font-size: 7px;
    padding-bottom: 7px;
}

.clipboard-items .others{
    display: inline-block;
}
