<div class="items-group illustrate-items">
    <div class="cask">
        <div class="">
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--Photo2" aria-hidden="true"></i>
                <div>
                    <span class="txt">Pictures</span><br />
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--Shapes" aria-hidden="true"></i>
                <div>
                    <span class="txt">Shapes</span><br />
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--AppIconDefault" aria-hidden="true"></i>
                <div>
                    <span class="txt">Icons</span><br />
                </div>
            </div>
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--CubeShape" aria-hidden="true"></i>
                <div>
                    <span class="txt">3D</span><br />Models
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
        <div class="">

        </div>
    </div>
    <div class="group-title">
        <p>Illustrations</p>
        <i class="ms-Icon ms-Icon--ArrowDownRight8" aria-hidden="true"></i>
    </div>
</div>