<div class="items-group illustrate-items">
    <div class="cask">
        <div class="">
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--Photo2" aria-hidden="true"></i>
                <div dropmenu>
                    <span class="txt">Pictures</span><br />
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
                <div class="dropmenu" tabindex="0">
                    <div class="heading">Insert Picture From</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>This Device...</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>Stock Images...</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>Online Pictures...</span>
                    </div>
                </div>
            </div>
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--Shapes" aria-hidden="true"></i>
                <div>
                    <span class="txt">Shapes</span><br />
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
                <div class="dropmenu" tabindex="0">
                    <div class="heading">Recently Used Shapes</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>This Device...</span>
                    </div>
                    <div class="hr"></div>
                    <div class="heading">Lines</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>This Device</span>
                    </div>
                    <div class="hr"></div>
                    <div class="heading">Rectangles</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>This Device</span>
                    </div>
                    <div class="hr"></div>
                    <div class="heading">Basic Shapes</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>This Device</span>
                    </div>
                    <div class="hr"></div>
                    <div class="heading">Block Arrows</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>This Device</span>
                    </div>
                    <div class="hr"></div>
                    <div class="heading">Equation Shapes</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>This Device</span>
                    </div>
                </div>
            </div>
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--AppIconDefault" aria-hidden="true"></i>
                <div dropmenu>
                    <span class="txt">Icons</span><br />
                </div>
            </div>
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--CubeShape" aria-hidden="true"></i>
                <div dropmenu>
                    <span class="txt">3D</span><br />Models
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
                <div class="dropmenu" tabindex="0">
                    <div class="heading">Insert 3D Model</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>This Device...</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>Stock 3D Models...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--FormatPainter" aria-hidden="true"></i>SmartArt
            </div>
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--WindowEdit" aria-hidden="true"></i>Screenshot
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Illustrations</p>
        <i class="ms-Icon ms-Icon--ArrowDownRight8" aria-hidden="true"></i>
    </div>
</div>