<div class="items-group scale-items">
    <div class="cask">
        <div class="align-half">
            Gridlines
            <label for="">
                <input type="checkbox">View
            </label>
            <label for="">
                <input type="checkbox">Print
            </label>
        </div>
        <div class="align-half">
            Headings
            <label for="">
                <input type="checkbox">View
            </label>
            <label for="">
                <input type="checkbox">Print
            </label>
        </div>
    </div>
    <div class="group-title">
        <p>Sheet Options</p>
        <i class="ms-Icon ms-Icon--ArrowDownRight8" aria-hidden="true"></i>
    </div>
</div>