<div class="items-group number-items">
    <div class="cask">
        <div>
            <div class="g-num">
                <textselect class="font-family">
                    <div class="heading">Theme Fonts</div>
                    <div class="item">Arial</div>
                    <div class="heading">All Fonts</div>
                    <div class="item" *ngFor="let font of numberStyles">{{font.value}}</div>
                </textselect>
            </div>
            <div class="others">
                <div>
                    <span class="group-mni">
                        <span><i class="" aria-hidden="true">$</i></span>
                        <i dropmenu class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
                        <div class="dropmenu" tabindex="0">
                            <div class="item">
                                <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                                <span>English (United States)</span>
                            </div>
                            <div class="item">
                                <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                                <span>English (United Kingdom)</span>
                            </div>
                            <div class="item">
                                <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                                <span>Euro</span>
                            </div>
                            <div class="item">
                                <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                                <span>Chinese (Simplified, Mainland China)</span>
                            </div>
                            <div class="item">
                                <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                                <span>CHF French (Switzerland)</span>
                            </div>
                            <div class="item">
                                <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                                <span>Euro</span>
                            </div>
                            <div class="item"><span></span><span class="hr"></span></div>
                            <div class="item">
                                <span></span>
                                <span>More Accounting Formats</span>
                            </div>
                        </div>
                    </span>
                    <span class="mni"><i class="ms-Icon ms-Icon--CalculatorPercentage" aria-hidden="true"></i></span>
                    <span class="mni"><i class="" aria-hidden="true">&comma;</i></span>
                </div>
                <div>
                    <span class="mni"><i class="ms-Icon ms-Icon--Italic" aria-hidden="true"></i></span>
                    <span class="mni"><i class="ms-Icon ms-Icon--Italic" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Number</p>
        <i class="ms-Icon ms-Icon--ArrowDownRight8" aria-hidden="true"></i>
    </div>
</div>