<div class="items-group formula-items">
    <div class="cask">
        <div class="align-half">
            <div>
                <div class="mni-badge">
                    <i class="ms-Icon ms-Icon--LargeGrid" aria-hidden="true"></i>Trace Precedents
                </div>
                <div class="mni-badge">
                    <i class="ms-Icon ms-Icon--DependencyAdd" aria-hidden="true"></i>Trace Dependents
                </div>
                <div class="group-mni">
                    <span>
                        <i class="ms-Icon ms-Icon--DependencyRemove" aria-hidden="true"></i>
                        <span>Remove Arrows</span>
                    </span>
                    <i dropmenu class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
                    <div class="dropmenu" tabindex="0">
                        <div class="item">
                            <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                            <span>Remove Arrows</span>
                        </div>
                        <div class="item">
                            <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                            <span>Remove Precedent Arrows</span>
                        </div>
                        <div class="item">
                            <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                            <span>Remove Dependent Arrows</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="mni-badge">
                    <i class="ms-Icon ms-Icon--Variable" aria-hidden="true"></i>Show Formula
                </div>
                <div class="group-mni">
                    <span>
                        <i class="ms-Icon ms-Icon--IncidentTriangle" aria-hidden="true"></i>
                        <span>Error Checking</span>
                    </span>
                    <i dropmenu class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
                    <div class="dropmenu" tabindex="0">
                        <div class="item">
                            <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                            <span>Error Checking</span>
                        </div>
                        <div class="item">
                            <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                            <span>Trace Errors</span>
                        </div>
                        <div class="item">
                            <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                            <div>
                                <span>Circular References</span>
                                <span class="mdm"><i class="ms-Icon ms-Icon--ChevronRight" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mni-badge">
                    <i class="ms-Icon ms-Icon--TriggerApproval" aria-hidden="true"></i>Evaluate Formula
                </div>
            </div>
        </div>
        <div class="align-half">
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--VoicemailForward" aria-hidden="true"></i>
                <div>
                    <span class="txt">Watch</span><br />Window
                </div>
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Formula Auditing</p>
        <i class="ms-Icon ms-Icon--ArrowDownRight8" aria-hidden="true"></i>
    </div>
</div>