<div class="items-group font-items">
    <div class="cask direct-flow">
        <div class="font-transform">
            <textselect class="font-family">
                <div class="heading">Theme Fonts</div>
                <div class="item">Arial</div>
                <div class="heading">All Fonts</div>
                <div class="item" *ngFor="let font of loadedFonts">{{font.value}}</div>
            </textselect>
            <textselect class="font-size">
                <div class="item" *ngFor="let size of fontSizes">{{size.value}}</div>
            </textselect>
        </div>
        <div class="case-transform">
            <span class="mni"><i class="ms-Icon ms-Icon--FontIncrease" aria-hidden="true"></i></span>
            <span class="mni"><i class="ms-Icon ms-Icon--FontDecrease" aria-hidden="true"></i></span>
        </div>
        <div class="style-transform">
            <span class="mni"><i class="ms-Icon ms-Icon--Bold" aria-hidden="true"></i></span>
            <span class="mni"><i class="ms-Icon ms-Icon--Italic" aria-hidden="true"></i></span>
            <span class="group-mni">
                <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                <i dropmenu class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
                <div class="dropmenu sty" tabindex="0">
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Underline</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--GripperBarHorizontal" aria-hidden="true"></i></span>
                        <span>Double Underline</span>
                    </div>
                </div>
            </span>
        </div>
        <div class="border-transform">
            <span class="group-mni">
                <span><i class="ms-Icon ms-Icon--SelectAll" aria-hidden="true"></i></span>
                <i dropmenu class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
                <div class="dropmenu bord" tabindex="0">
                    <div class="heading">Borders</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Bottom Border</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Top Border</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Left Border</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Right Border</span>
                    </div>
                    <div class="item"><span></span><span class="hr"></span></div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>No Borders</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>All Borders</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Outside Borders</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Thick Outside Borders</span>
                    </div>
                    <div class="item"> <span></span>  <span class="hr"></span> </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Bottom Double Border</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Thick Bottom Border</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Top and Bottom Border</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Top and Thick Bottom Border</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Top and Double Bottom Border</span>
                    </div>
                    <div class="item"><span></span>  <span class="hr"></span></div>
                    <div class="heading">Draw Border</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Draw Border</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Draw Border Grid</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Erase Border</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Line Color</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Line Style</span>
                    </div>
                    <div class="item"> <span></span>  <span class="hr"></span> </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>More Borders</span>
                    </div>
                </div>
            </span>
        </div>
        <div class="color-transform">
            <span class="group-mni">
                <span><i class="ms-Icon ms-Icon--BucketColor" aria-hidden="true"></i></span>
                <i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
            </span>
            <span class="group-mni">
                <span><i class="ms-Icon ms-Icon--HalfAlpha" aria-hidden="true"></i></span>
                <i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
            </span>
        </div>
    </div>
    <div class="group-title">
        <p>Font</p>
        <i class="ms-Icon ms-Icon--ArrowDownRight8" aria-hidden="true"></i>
    </div>
</div>