<div class="items-group cells-items">
    <div class="cask">
        <div class="mni-vertical fi-hide">
            <i class="ms-Icon ms-Icon--ArrangeBringToFront" aria-hidden="true"></i>
            <div dropmenu>
                <span class="txt">Bring<br /> Forward</span> 
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
            <div class="dropmenu" tabindex="0">
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Bring Forward</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Bring To Front</span>
                </div>
            </div>
        </div>
        <div class="mni-vertical fi-hide">
            <i class="ms-Icon ms-Icon--ArrangeSendToBack" aria-hidden="true"></i>
            <div dropmenu>
                <span class="txt">Send<br /> Backward</span> 
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
            <div class="dropmenu" tabindex="0">
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Send Backward</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Send To Back</span>
                </div>
            </div>
        </div>
        <div class="mni-vertical nb fi-hide">
            <i class="ms-Icon ms-Icon--TouchPointer" aria-hidden="true"></i>
            <div>
                <span class="txt">Selection<br /> Pane</span>
            </div>
        </div>
        <div class="mni-vertical nb fi-hide">
            <i class="ms-Icon ms-Icon--AlignHorizontalLeft" aria-hidden="true"></i>
            <div dropmenu>
                <span class="txt">Align</span><br />
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
            <div class="dropmenu" tabindex="0">
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Align Left</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Align Center</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Align Right</span>
                </div>
                <div class="item">
                    <span></span>
                    <span class="hr"></span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Align Top</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Align Middle</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Align Bottom</span>
                </div>
                <div class="item">
                    <span></span>
                    <span class="hr"></span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Distribute Horizontally</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Distribute Vertically</span>
                </div>
                <div class="item">
                    <span></span>
                    <span class="hr"></span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Snap To Grid</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Snap To Shape</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>View Gridlines</span>
                </div>
            </div>
        </div>
        <div class="mni-vertical nb fi-hide">
            <i class="ms-Icon ms-Icon--GroupObject" aria-hidden="true"></i>
            <div dropmenu>
                <span class="txt">Group</span><br />
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
             <div class="dropmenu" tabindex="0">
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Group</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Regroup</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Ungroup</span>
                </div>
            </div>
        </div>
        <div class="mni-vertical nb fi-hide">
            <i class="ms-Icon ms-Icon--Rotate" aria-hidden="true"></i>
            <div dropmenu>
                <span class="txt">Rotate</span><br />
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
            <div class="dropmenu" tabindex="0">
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Rotate Right 90</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Rotate Left 90</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Flip Vertical</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Flip Horizontal</span>
                </div>
                <div class="hr"></div>
                <div class="item">
                    <span></span>
                    <span>More Rotation Options...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Arrange</p>
        <i class="ms-Icon ms-Icon--ArrowDownRight8" aria-hidden="true"></i>
    </div>
</div>