<div class="items-group cells-items">
    <div class="cask">
        <div class="mni-vertical">
            <i class="ms-Icon ms-Icon--ArrangeBringToFront" aria-hidden="true"></i>
            <div>
                <span class="txt">Bring</span>Forward
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="mni-vertical">
            <i class="ms-Icon ms-Icon--ArrangeSendToBack" aria-hidden="true"></i>
            <div>
                <span class="txt">Send</span>Backward
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--TouchPointer" aria-hidden="true"></i>
            <div>
                <span class="txt">Selection</span><br />Pane
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--AlignHorizontalLeft" aria-hidden="true"></i>
            <div>
                <span class="txt">Align</span><br />
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--GroupObject" aria-hidden="true"></i>
            <div>
                <span class="txt">Group</span><br />
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--Rotate" aria-hidden="true"></i>
            <div>
                <span class="txt">Rotate</span><br />
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Arrange</p>
        <i class="ms-Icon ms-Icon--ArrowDownRight8" aria-hidden="true"></i>
    </div>
</div>