<div class="items-group">
    <div class="mni-vertical">
        <i class="ms-Icon ms-Icon--TimelineMatrixView" aria-hidden="true"></i>
        <div>
            <span class="txt">PivotTable</span>
            <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
        </div>
    </div>
    <div class="mni-vertical nb">
        <i class="ms-Icon ms-Icon--DeleteTable" aria-hidden="true"></i>
        <div>
            <span class="txt">Recommended</span><br /> PivotTables
        </div>
    </div>
    <div class="mni-vertical nb">
        <i class="ms-Icon ms-Icon--Table" aria-hidden="true"></i>
        <div>
            <span class="txt">Table</span><br />
        </div>
    </div>
    <div class="group-title">
        <p>Tables</p>
    </div>
</div>