<div class="items-group">
    <div class="cask">
        <div class="mni-vertical nb f-hide">
            <i class="ms-Icon ms-Icon--InsertTextBox" aria-hidden="true"></i>
            <div>
                <span class="txt fi-no-break">Text<br class="f-no-break" />Box</span>
            </div>
        </div>
        <div class="mni-vertical nb f-hide">
            <i class="ms-Icon ms-Icon--PageHeader" aria-hidden="true"></i>
            <div>
                <span class="txt fi-no-break">Header<br class="f-no-break" />& Footer</span>
            </div>
        </div>
        <div class="mni-vertical nb f-hide">
            <i class="ms-Icon ms-Icon--HalfAlpha" aria-hidden="true"></i>
            <div dropmenu>
                <span class="txt fi-no-break">WordArt</span><br class="f-no-break" />
                <i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
            </div>
            <div class="dropmenu" tabindex="0">
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Art</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Art</span>
                </div>
            </div>
        </div>
        <div class="mni-vertical nb f-hide">
            <i class="ms-Icon ms-Icon--InsertSignatureLine" aria-hidden="true"></i>
            <div dropmenu>
                <span class="txt fi-no-break">Signature<br class="f-no-break" />Line</span>
                <i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
            </div>
            <div class="dropmenu" tabindex="0">
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Microsoft Office Signature Line</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Add Signature Services...</span>
                </div>
            </div>
        </div>
        <div class="mni-vertical nb f-hide">
            <i class="ms-Icon ms-Icon--Documentation" aria-hidden="true"></i>
            <div>
                <span class="txt fi-no-break">Object</span>
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Text</p>
    </div>
</div>