<div class="items-group">
    <div class="mni-vertical nb">
        <i class="ms-Icon ms-Icon--InsertTextBox" aria-hidden="true"></i>
        <div>
            <span class="txt">Text</span><br />Box
        </div>
    </div>
    <div class="mni-vertical nb">
        <i class="ms-Icon ms-Icon--PageHeader" aria-hidden="true"></i>
        <div>
            <span class="txt">Header</span><br />& Footer
        </div>
    </div>
    <div class="mni-vertical nb">
        <i class="ms-Icon ms-Icon--HalfAlpha" aria-hidden="true"></i>
        <div>
            <span class="txt">WordArt</span><br />
            <i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
        </div>
    </div>
    <div class="mni-vertical nb">
        <i class="ms-Icon ms-Icon--InsertSignatureLine" aria-hidden="true"></i>
        <div>
            <span class="txt">Signature</span><br />Line
            <i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
        </div>
    </div>
    <div class="mni-vertical nb">
        <i class="ms-Icon ms-Icon--Documentation" aria-hidden="true"></i>
        <div>
            <span class="txt">Object</span>
        </div>
    </div>
    <div class="group-title">
        <p>Text</p>
    </div>
</div>