<div class="items-group function-items">
    <div class="cask">
        <div class="align-half">
            <div>
                <div class="mni-badge"><i class="ms-Icon ms-Icon--Ascending" aria-hidden="true"></i></div>
                <div class="mni-badge"><i class="ms-Icon ms-Icon--Descending" aria-hidden="true"></i></div>
            </div>
            <div>
                <div class="mni-vertical nb">
                    <i class="ms-Icon ms-Icon--TextBox" aria-hidden="true"></i>
                    <div>
                        <span class="txt">Sort</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="align-half">
            <div>
                <div class="mni-vertical nb">
                    <i class="ms-Icon ms-Icon--Filter" aria-hidden="true"></i>
                    <div>
                        <span class="txt">Filter</span>
                    </div>
                </div>
            </div>
             <div>
                <div class="mni-badge"><i class="ms-Icon ms-Icon--ClearFilter" aria-hidden="true"></i>Clear</div>
                <div class="mni-badge"><i class="ms-Icon ms-Icon--PageListFilter" aria-hidden="true"></i>Reapply</div>
                <div class="mni-badge"><i class="ms-Icon ms-Icon--FilterSettings" aria-hidden="true"></i>Advanced</div>
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Sort & Filter</p>
    </div>
</div>