<div class="items-group function-items">
    <div class="cask">
        <div class="align-half">
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--Variable" aria-hidden="true"></i>
                <div>
                    <span class="txt">Insert</span><br />Function
                </div>
            </div>
        </div>
        <div class="align-half">
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--NumberSymbol" aria-hidden="true"></i>
                <div>
                    <span class="txt">AutoSum</span><br />
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--SingleBookmark" aria-hidden="true"></i>
                <div>
                    <span class="txt">Recently</span><br />Used
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Sort & Filter</p>
    </div>
</div>