<div class="items-group function-items">
    <div class="cask">
        <div class="align-half">
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--Variable" aria-hidden="true"></i>
                <div>
                    <span class="txt">Insert<br />Function</span>
                </div>
            </div>
        </div>
        <div class="align-half">
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--NumberSymbol" aria-hidden="true"></i>
                <div dropmenu>
                    <span class="txt">AutoSum</span><br />
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
                <div class="dropmenu" tabindex="0">
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>Sum</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>Average</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>Count Numbers</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>Max</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>Min</span>
                    </div>
                    <div class="item"><span></span><span class="hr"></span></div>
                    <div class="item">
                        <span></span>
                        <span>More Functions</span>
                    </div>
                </div>
            </div>
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--SingleBookmark" aria-hidden="true"></i>
                <div dropmenu>
                    <span class="txt">Recently<br /> Used</span>
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
                <div class="dropmenu" tabindex="0">
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>SUM</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>AVERAGE</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>IF</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>HYPERLINK</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>COUNT</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>MAX</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>SIN</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>SUMIF</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>PMT</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>STDEV</span>
                    </div>
                    <div class="item"><span></span><span class="hr"></span></div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Variable" aria-hidden="true"></i></span>
                        <span>Insert Functions</span>
                    </div>
                </div>
            </div>
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--ProductCatalog" aria-hidden="true"></i>
                <div dropmenu>
                    <span class="txt">Financial</span><br />
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
                <div class="dropmenu" tabindex="0">
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>SUM</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>AVERAGE</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>IF</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>HYPERLINK</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>COUNT</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>MAX</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>SIN</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>SUMIF</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>PMT</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>STDEV</span>
                    </div>
                    <div class="item"><span></span><span class="hr"></span></div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Variable" aria-hidden="true"></i></span>
                        <span>Insert Functions</span>
                    </div>
                </div>
            </div>
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--BookAnswers" aria-hidden="true"></i>
                <div dropmenu>
                    <span class="txt">Logical</span><br />
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
                <div class="dropmenu" tabindex="0">
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>SUM</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>AVERAGE</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>IF</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>HYPERLINK</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>COUNT</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>MAX</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>SIN</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>SUMIF</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>PMT</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>STDEV</span>
                    </div>
                    <div class="item"><span></span><span class="hr"></span></div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Variable" aria-hidden="true"></i></span>
                        <span>Insert Functions</span>
                    </div>
                </div>
            </div>
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--PlainText" aria-hidden="true"></i>
                <div dropmenu>
                    <span class="txt">Text</span><br />
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
                <div class="dropmenu" tabindex="0">
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>SUM</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>AVERAGE</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>IF</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>HYPERLINK</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>COUNT</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>MAX</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>SIN</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>SUMIF</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>PMT</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>STDEV</span>
                    </div>
                    <div class="item"><span></span><span class="hr"></span></div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Variable" aria-hidden="true"></i></span>
                        <span>Insert Functions</span>
                    </div>
                </div>
            </div>
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--Calendar" aria-hidden="true"></i>
                <div dropmenu>
                    <span class="txt">Date &<br /> Time</span>
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
                <div class="dropmenu" tabindex="0">
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>SUM</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>AVERAGE</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>IF</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>HYPERLINK</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>COUNT</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>MAX</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>SIN</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>SUMIF</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>PMT</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>STDEV</span>
                    </div>
                    <div class="item"><span></span><span class="hr"></span></div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Variable" aria-hidden="true"></i></span>
                        <span>Insert Functions</span>
                    </div>
                </div>
            </div>
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--DictionaryRemove" aria-hidden="true"></i>
                <div dropmenu>
                    <span class="txt">Lookup &<br /> Reference</span>
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
                <div class="dropmenu" tabindex="0">
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>SUM</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>AVERAGE</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>IF</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>HYPERLINK</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>COUNT</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>MAX</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>SIN</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>SUMIF</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>PMT</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>STDEV</span>
                    </div>
                    <div class="item"><span></span><span class="hr"></span></div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Variable" aria-hidden="true"></i></span>
                        <span>Insert Functions</span>
                    </div>
                </div>
            </div>
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--Variable2" aria-hidden="true"></i>
                <div dropmenu>
                    <span class="txt">Math &<br /> Trig</span>
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
                <div class="dropmenu" tabindex="0">
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                        <span>SUM</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>AVERAGE</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>IF</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>HYPERLINK</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>COUNT</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>MAX</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>SIN</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>SUMIF</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>PMT</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>STDEV</span>
                    </div>
                    <div class="item"><span></span><span class="hr"></span></div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Variable" aria-hidden="true"></i></span>
                        <span>Insert Functions</span>
                    </div>
                </div>
            </div>
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--Dictionary" aria-hidden="true"></i>
                <div dropmenu>
                    <span class="txt">More<br /> Functions</span>
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
                <div class="dropmenu" tabindex="0">
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <div>
                            <span>Statistical</span>
                            <span class="mdm"><i class="ms-Icon ms-Icon--ChevronRight" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <div>
                            <span>Engineering</span>
                            <span class="mdm"><i class="ms-Icon ms-Icon--ChevronRight" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <div>
                            <span>Cube</span>
                            <span class="mdm"><i class="ms-Icon ms-Icon--ChevronRight" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <div>
                            <span>Information</span>
                            <span class="mdm"><i class="ms-Icon ms-Icon--ChevronRight" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <div>
                            <span>Compatibility</span>
                            <span class="mdm"><i class="ms-Icon ms-Icon--ChevronRight" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <div>
                            <span>Web</span>
                            <span class="mdm"><i class="ms-Icon ms-Icon--ChevronRight" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Function Library</p>
    </div>
</div>