<div class="items-group scale-items">
    <div class="cask">
        <div class="align-half">
            <label for="">
                <input type="checkbox">Ruler
            </label>
            <label for="">
                <input type="checkbox">Gridlines
            </label>
            <label for="">
                <input type="checkbox">Formula Bar
            </label>
        </div>
        <div class="align-half">
            <label for="">
                <input type="checkbox">Headings
            </label>
        </div>
    </div>
    <div class="group-title">
        <p>Show</p>
        <i class="ms-Icon ms-Icon--ArrowDownRight8" aria-hidden="true"></i>
    </div>
</div>