<div class="items-group">
    <div class="cask">
        <div class="mni-vertical nb f-hide">
            <i class="ms-Icon ms-Icon--BarChartVerticalFilter" aria-hidden="true"></i>
            <div>
                <span class="txt">Slicer</span>
            </div>
        </div>
        <div class="mni-vertical nb f-hide">
            <i class="ms-Icon ms-Icon--PageListFilter" aria-hidden="true"></i>
            <div>
                <span class="txt">Timeline</span><br />
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Filters</p>
    </div>
</div>