<div class="items-group clipboard-items">
    <div class="cask">
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--CommentAdd" aria-hidden="true"></i>
            <div>
                <span class="txt">New</span><br />Comment
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--DependencyRemove" aria-hidden="true"></i>
            <div>
                <span class="txt">Delete</span>
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--CommentPrevious" aria-hidden="true"></i>
            <div>
                <span class="txt">Previous</span>
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--CommentNext" aria-hidden="true"></i>
            <div>
                <span class="txt">Next</span><br />
            </div>
        </div>
        <div class="others">
            <div class="mni-badge"><i class="ms-Icon ms-Icon--Combobox" aria-hidden="true"></i>
                <span class="si-no-break">Show/Hide Comments</span>
            </div>
            <div class="mni-badge"><i class="ms-Icon ms-Icon--Comment" aria-hidden="true"></i>
                <span class="si-no-break">Show All Comments</span> 
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Comments</p>
    </div>
</div>