.items-group.outline-items .others{
    display: inline-block;
}

@media screen and (max-width:1610px) {
    .items-group.outline-items .cask:has(.mni-vertical.f-hide){
        max-width: 180px;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:1300px) {
    .items-group.outline-items .cask:has(.mni-vertical.f-hide){
        max-width: 100px;
    }
}