<div class="items-group outline-items">
    <div class="cask">
        <div class="mni-vertical nb f-hide">
            <i class="ms-Icon ms-Icon--GroupObject" aria-hidden="true"></i>
            <div dropmenu>
                <span class="txt si-no-break">Group</span><br class="f-no-break" />
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
            <div class="dropmenu rules" tabindex="0">
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Group</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Auto Outline</span>
                </div>
            </div>
        </div>
        <div class="mni-vertical nb f-hide">
            <i class="ms-Icon ms-Icon--UngroupObject" aria-hidden="true"></i>
            <div dropmenu>
                <span class="txt si-no-break">Ungroup</span><br class="f-no-break" />
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
            <div class="dropmenu rules" tabindex="0">
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Ungroup</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Clear Outline</span>
                </div>
            </div>
        </div>
        <div class="mni-vertical nb f-hide">
            <i class="ms-Icon ms-Icon--Calculator" aria-hidden="true"></i>
            <div>
                <span class="txt si-no-break">Subtotal</span>
            </div>
        </div>
        <div class="others">
            <div class="mni-badge"><i class="ms-Icon ms-Icon--IncreaseIndentLegacy" aria-hidden="true"></i>
                <span class=" si-no-break">Show Detail</span> 
            </div>
            <div class="mni-badge"><i class="ms-Icon ms-Icon--DecreaseIndentLegacy" aria-hidden="true"></i>
                <span class=" si-no-break">Hide Detail</span> 
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Outline</p>
        <i class="ms-Icon ms-Icon--ArrowDownRight8" aria-hidden="true"></i>
    </div>
</div>