<div class="items-group clipboard-items">
    <div class="cask">
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--Calculator" aria-hidden="true"></i>
            <div>
                <span class="txt">Calculate</span><br />Options
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="others">
            <div class="mni-badge"><i class="ms-Icon ms-Icon--Calculator" aria-hidden="true"></i>Calculate Now </div>
            <div class="mni-badge"><i class="ms-Icon ms-Icon--TableComputed" aria-hidden="true"></i>Calculate Sheet </div>
        </div>
    </div>
    <div class="group-title">
        <p>Calculation</p>
        <i class="ms-Icon ms-Icon--ArrowDownRight8" aria-hidden="true"></i>
    </div>
</div>