<div class="items-group clipboard-items">
    <div class="cask">
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--Calculator" aria-hidden="true"></i>
            <div>
                <span class="txt">Group</span><br />
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--Calculator" aria-hidden="true"></i>
            <div>
                <span class="txt">Ungroup</span><br />
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--Calculator" aria-hidden="true"></i>
            <div>
                <span class="txt">Subtotal</span>
            </div>
        </div>
        <div class="others">
            <div class="mni-badge"><i class="ms-Icon ms-Icon--Calculator" aria-hidden="true"></i>Show Detail </div>
            <div class="mni-badge"><i class="ms-Icon ms-Icon--TableComputed" aria-hidden="true"></i>Hide Detail </div>
        </div>
    </div>
    <div class="group-title">
        <p>Outline</p>
        <i class="ms-Icon ms-Icon--ArrowDownRight8" aria-hidden="true"></i>
    </div>
</div>