<div class="items-group clipboard-items">
    <div class="cask">
        <div class="mni-vertical">
            <i class="ms-Icon ms-Icon--Paste" aria-hidden="true"></i>
            <div dropmenu>
                <span class="txt">Paste</span><br />
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
            <div class="dropmenu" tabindex="0">
                <div class="heading">Past Options</div>
                <div class="special-paste">
                    <span><i class="ms-Icon ms-Icon--Paste" aria-hidden="true"></i></span>
                    <span><i class="ms-Icon ms-Icon--PasteAsText" aria-hidden="true"></i></span>
                </div>
                <div class="item"> <span></span><span>Paste Special...</span></div>
            </div>
        </div>
        <div class="others">
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--Cut" aria-hidden="true"></i>
                <span class="f-hide">Cut</span>
            </div>
            <div class="group-mni">
                <span>
                    <i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i>
                    <span class="f-hide">Copy</span>
                </span>
                <i dropmenu class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
                <div class="dropmenu" tabindex="0">
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>Copy</span>
                    </div>
                    <div class="item">
                        <span></span> 
                        <span>Copy As Picture</span> 
                    </div>
                </div>
            </div>
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--FormatPainter" aria-hidden="true"></i>
                <span class="f-hide">Format Painter</span>
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Clipboard</p>
        <i class="ms-Icon ms-Icon--ArrowDownRight8" aria-hidden="true"></i>
    </div>
</div>