<div class="items-group clipboard-items">
    <div class="cask">
        <div class="mni-vertical">
            <i class="ms-Icon ms-Icon--Paste" aria-hidden="true"></i>
            <div>
                <span class="txt">Paste</span>
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="others">
            <div class="mni-badge"><i class="ms-Icon ms-Icon--Cut" aria-hidden="true"></i>Cut</div>
            <div class="group-mni">
                <span>
                    <i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i>
                    <span>Copy</span>
                </span>
                <i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
            </div>
            <div class="mni-badge"><i class="ms-Icon ms-Icon--FormatPainter" aria-hidden="true"></i>Format Painter</div>
        </div>
    </div>
    <div class="group-title">
        <p>Clipboard</p>
        <i class="ms-Icon ms-Icon--ArrowDownRight8" aria-hidden="true"></i>
    </div>
</div>