<div class="items-group">
    <div class="cask">
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--FabricTextHighlight" aria-hidden="true"></i>
            <div>
                <span class="txt">Spelling</span>
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--ReadingMode" aria-hidden="true"></i>
            <div>
                <span class="txt">Theasurus</span>
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--ChartSeries" aria-hidden="true"></i>
            <div>
                <span class="txt">Workbook</span><br />Statistics
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Proofing</p>
    </div>
</div>