<div class="items-group cells-items">
    <div class="cask">
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--PageHeader" aria-hidden="true"></i>
            <div>
                <span class="txt">Margin</span><br />
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--Orientation" aria-hidden="true"></i>
            <div>
                <span class="txt">Orientation</span><br />
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--OpenFile" aria-hidden="true"></i>
            <div>
                <span class="txt">Size</span><br />
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--PrintfaxPrinterFile" aria-hidden="true"></i>
            <div>
                <span class="txt">Print</span><br />Areas
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--TransitionEffect" aria-hidden="true"></i>
            <div>
                <span class="txt">Breaks</span><br />
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--PhotoCollection" aria-hidden="true"></i>
            <div>
                <span class="txt">Background</span>
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--TableGroup" aria-hidden="true"></i>
            <div>
                <span class="txt">Print</span><br />Titles
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Page Setup</p>
        <i class="ms-Icon ms-Icon--ArrowDownRight8" aria-hidden="true"></i>
    </div>
</div>