<div class="items-group defined-items">
    <div class="cask">
        <div class="mni-vertical">
            <i class="ms-Icon ms-Icon--Tag" aria-hidden="true"></i>
            <div>
                <span class="txt">Name<br />Manager</span>
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="others">
            <div class="group-mni">
                <span>
                    <i class="ms-Icon ms-Icon--TagUnknown" aria-hidden="true"></i>
                    <span class="fi-no-break">Define Name</span>
                </span>
                <i dropmenu class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
                <div class="dropmenu" tabindex="0">
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>Define Name...</span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span>Apply Name...</span>
                    </div>
                </div>
            </div>
            <div class="group-mni">
                <span>
                    <i class="ms-Icon ms-Icon--TagUnknownMirror" aria-hidden="true"></i>
                    <span class="fi-no-break">Use in Formula</span>
                </span>
                <i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
            </div>
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--InsertColumnsRight" aria-hidden="true"></i>
                <span class="fi-no-break">Create from Selection</span>
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Defined Names</p>
        <i class="ms-Icon ms-Icon--ArrowDownRight8" aria-hidden="true"></i>
    </div>
</div>