<div class="items-group defined-items">
    <div class="cask">
        <div class="mni-vertical">
            <i class="ms-Icon ms-Icon--Sync" aria-hidden="true"></i>
            <div dropmenu>
                <span class="txt">Refresh<br />All</span>
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
            <div class="dropmenu rules" tabindex="0">
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Refresh All</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Refresh</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Refresh Status</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Cancel Refresh</span>
                </div>
                <div class="item">
                    <span></span>
                    <span class="hr"></span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Connection Properties</span>
                </div>
            </div>
        </div>
        <div class="others">
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--WindowEdit" aria-hidden="true"></i>
                <span class="fo-no-break">Queries & Connections</span>
            </div>
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--GroupedList" aria-hidden="true"></i>
                <span class="fo-no-break">Properties</span>
            </div>
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--TableLink" aria-hidden="true"></i>
                <span class="fo-no-break">Workbook Links</span>
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Queries & Connections</p>
        <i class="ms-Icon ms-Icon--ArrowDownRight8 fo-no-break" aria-hidden="true"></i>
    </div>
</div>