<div class="items-group charts-items">
    <div class="cask">
        <div class="align-half">
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--BarChartVerticalEdit" aria-hidden="true"></i>
                <div>
                    <span class="txt">Recommended</span><br />Charts
                </div>
            </div>
        </div>
        <div class="align-half types">
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--WindowEdit" aria-hidden="true"></i>
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--ChartSeries" aria-hidden="true"></i>
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--FlowChart" aria-hidden="true"></i>
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--BIDashboard" aria-hidden="true"></i>
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--BarChart4" aria-hidden="true"></i>
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--StackedLineChart" aria-hidden="true"></i>
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--PieSingleSolid" aria-hidden="true"></i>
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--ScatterChart" aria-hidden="true"></i>
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="align-half">
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--Globe2" aria-hidden="true"></i>
                <div>
                    <span class="txt">Maps</span><br />
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="mni-vertical">
                <i class="ms-Icon ms-Icon--PivotChart" aria-hidden="true"></i>
                <div>
                    <span class="txt">PivotChart</span>
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Charts</p>
        <i class="ms-Icon ms-Icon--ArrowDownRight8" aria-hidden="true"></i>
    </div>
</div>