<div class="items-group charts-items">
    <div class="cask">
        <div class="align-half">
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--BarChartVerticalEdit" aria-hidden="true"></i>
                <div>
                    <span class="txt">Recommended<br />Charts</span>
                </div>
            </div>
        </div>
        <div class="align-half types">
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--WindowEdit" aria-hidden="true"></i>
                <div dropmenu>
                    <span></span>
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
                <div class="dropmenu" tabindex="0">
                    <div class="heading">2-D Column</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>This Device...</span>
                    </div>
                    <div class="hr"></div>
                    <div class="heading">3-D Column</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>This Device</span>
                    </div>
                    <div class="hr"></div>
                    <div class="heading">2-D Bar</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>This Device</span>
                    </div>
                    <div class="hr"></div>
                    <div class="heading">3-D Bar</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>This Device</span>
                    </div>
                    <div class="hr"></div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>More Column Charts...</span>
                    </div>
                </div>
            </div>
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--ChartSeries" aria-hidden="true"></i>
                <div dropmenu>
                    <span></span>
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
                <div class="dropmenu" tabindex="0">
                    <div class="heading">Treemap</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span></span>
                    </div>
                    <div class="hr"></div>
                    <div class="heading">Sunburst</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>T</span>
                    </div>
                    <div class="hr"></div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>More Hierarchy Charts...</span>
                    </div>
                </div>
            </div>
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--FlowChart" aria-hidden="true"></i>
                <div dropmenu>
                    <span></span>
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
                <div class="dropmenu" tabindex="0">
                    <div class="heading">Waterfall</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span></span>
                    </div>
                    <div class="hr"></div>
                    <div class="heading">Funnel</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span></span>
                    </div>
                    <div class="hr"></div>
                    <div class="heading">Stock</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span></span>
                    </div>
                    <div class="hr"></div>
                    <div class="heading">Surface</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span></span>
                    </div>
                    <div class="hr"></div>
                    <div class="heading">Radar</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span></span>
                    </div>
                    <div class="hr"></div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>More Stock Charts...</span>
                    </div>
                </div>
            </div>
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--BIDashboard" aria-hidden="true"></i>
                <div dropmenu>
                    <span></span>
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
                <div class="dropmenu" tabindex="0">
                    <div class="heading">2-D Line</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span></span>
                    </div>
                    <div class="hr"></div>
                    <div class="heading">3-D Line</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span></span>
                    </div>
                    <div class="hr"></div>
                    <div class="heading">2-D Area</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span></span>
                    </div>
                    <div class="hr"></div>
                    <div class="heading">3-D Area</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span></span>
                    </div>
                    <div class="hr"></div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>More Line Charts...</span>
                    </div>
                </div>
            </div>
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--BarChart4" aria-hidden="true"></i>
                <div dropmenu>
                    <span></span>
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
                <div class="dropmenu" tabindex="0">
                    <div class="heading">Histogram</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span></span>
                    </div>
                    <div class="hr"></div>
                    <div class="heading">Box Whisker</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span></span>
                    </div>
                    <div class="hr"></div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>More Statistical Charts...</span>
                    </div>
                </div>
            </div>
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--StackedLineChart" aria-hidden="true"></i>
                <div dropmenu>
                    <span></span>
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
                <div class="dropmenu" tabindex="0">
                    <div class="heading">Combo</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span></span>
                    </div>
                    <div class="hr"></div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>Create Custom Combo...</span>
                    </div>
                </div>
            </div>
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--PieSingleSolid" aria-hidden="true"></i>
                <div dropmenu>
                    <span></span>
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
                <div class="dropmenu" tabindex="0">
                    <div class="heading">2-D Pie</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span></span>
                    </div>
                    <div class="heading">3-D Pie</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span></span>
                    </div>
                    <div class="heading">Doughnut</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span></span>
                    </div>
                    <div class="hr"></div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>More Pie Charts...</span>
                    </div>
                </div>
            </div>
            <div class="mni-badge">
                <i class="ms-Icon ms-Icon--ScatterChart" aria-hidden="true"></i>
                <div dropmenu>
                    <span></span>
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
                <div class="dropmenu" tabindex="0">
                    <div class="heading">Scatter</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span></span>
                    </div>
                    <div class="heading">Bubble</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span></span>
                    </div>
                    <div class="hr"></div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>More Scatter Charts...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="align-half">
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--Globe2" aria-hidden="true"></i>
                <div dropmenu>
                    <span class="txt">Maps</span><br />
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
                <div class="dropmenu" tabindex="0">
                    <div class="heading">Filled Map</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span></span>
                    </div>
                    <div class="hr"></div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>More Map Charts...</span>
                    </div>
                </div>
            </div>
            <div class="mni-vertical">
                <i class="ms-Icon ms-Icon--PivotChart" aria-hidden="true"></i>
                <div dropmenu>
                    <span class="txt">PivotChart</span><br />
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
                <div class="dropmenu" tabindex="0">
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>PivotChart</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>PivotChart & PivotTable</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Charts</p>
        <i class="ms-Icon ms-Icon--ArrowDownRight8" aria-hidden="true"></i>
    </div>
</div>