<div class="workbook">
    <div class="formula-arena">
        <div class="current-cell">
            <input type="text" class="">
            <i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
        </div>
        <span class="divide-more"><i class="ms-Icon ms-Icon--MoreVertical" aria-hidden="true"></i></span>
        <div class="functions">
            <i class="ms-Icon ms-Icon--Cancel" aria-hidden="true"></i>
            <i class="ms-Icon ms-Icon--CheckMark" aria-hidden="true"></i>
            <i aria-hidden="true">fx</i>
        </div>
        <div class="cell-formula">
            <input type="text" class="">
            <i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
        </div>
    </div>
    <div class="table-surface">
        <div class="table-container">
            <table cellspacing="0">
                <thead>
                    <tr>
                        <th class="shard"></th>
                        <th class="label" *ngFor="let cell of workbook.worksheets![0].rows![0].cells" (click)="highlightCol(cell.col)">{{cell.col}}</th>
                    </tr>
                </thead>
                <tbody>
                    <div class="v-lighter" #lighter>
                        <div class="sll"></div>
                    </div>
                    <tr *ngFor="let row of workbook.worksheets![0].rows" class="{{row.isHighlighted? 'highlight' : ''}}">
                        <td class="row-head" (click)="highlightRow(row.id)">{{row.id}}</td>
                        <td *ngFor="let cell of row.cells" class="cell"
                        [ngClass]="{'high-col' : cell.col == workbook.worksheets![0].highlightedCol,
                            'hbg': cell.highlighted
                        }" 
                        (click)="cellClicked($event, row.id, cell.id)"
                        (mousedown)="startMouseDown($event, row.id, cell.col)"
                        (mouseup)="mouseUp($event, row.id, cell.col)"
                        (mouseover)="mouseOverCell($event)"
                        >
                            <!-- <input type="text" [tabindex]="i"> {{cell.id}}-->
                             <div class="cell-data"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>