.workbook{
    background-color: var(--grey);
}

.table-surface {
    width: 100%;
    height: 79vh;
    overflow-x: auto;
}

.table-surface .table-container{
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

.formula-arena{
    display: flex;
    align-items: center;
    padding: 7px 10px;
}

.formula-arena .current-cell{
    position: relative ;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--border-color);
    background-color: var(--background);
}

.formula-arena .current-cell input{
    outline: none;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    height: 100%;
    width: 95%;
}

.formula-arena .current-cell i{
    position: absolute;
    left: 95%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.formula-arena .functions{
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--border-color);
    background-color: var(--background);
    margin-right: 10px;
}

.formula-arena .functions i{
    height: 27px;
    padding: 7px 5px;
    vertical-align: middle;
}

.formula-arena .functions i:hover{
    background-color: var(--menu-hover);
}

.divide-more{
    font-size: 18px;
    margin: 0 8px;
}

.formula-arena .cell-formula{
    position: relative;
    flex-grow: 100;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--border-color);
    background-color: var(--background);
}

.formula-arena .cell-formula input{
    outline: none;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    height: 100%;
    width: 98%;
}

.formula-arena .cell-formula i{
    position: absolute;
    left: 99%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* .table-surface .column-labels div{
    display: inline-block;
    margin: 0;
} */


table{
    height: 100%;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: var(--background);
}

table thead .shard{
    width: 32.4px;
}

table thead .label{
    font-family: "Roboto-Regular";
    font-weight: normal;
    text-align: center;
    padding: 5px;
    background-color: var(--grey);
    text-transform: uppercase;
    border-right: 1px solid var(--cell-border);
}

table tr.highlight{
    border: 2px solid var(--dark-green);
    background-color: var(--grey);
}

table tr td.high-col:first-child{
    border-top: 2px solid var(--dark-green);
    border-left: 2px solid var(--dark-green);
    border-right: 2px solid var(--dark-green);
    background-color: var(--grey);
}

table tr td.high-col:last-child{
    border-bottom: 2px solid var(--dark-green);
    border-left: 2px solid var(--dark-green);
    border-right: 2px solid var(--dark-green);
    background-color: var(--grey);
}

table tr td.high-col:not(:first-child){
    border-left: 2px solid var(--dark-green);
    border-right: 2px solid var(--dark-green);
    background-color: var(--grey);
}

table tr td.high-cell{
    background-color: var(--grey);
}

.row-head{
    padding: 3px 5px;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--grey);
}

.cell{
    border: 1px solid var(--cell-border);
    /* border: 1px solid rgb(224, 224, 224)  ; */
}

.cell.active{
    border: 2px solid var(--dark-green);
}

.cell .cell input{
    outline: none;
    border: none;
    padding: 3px;
    height: 100%;
    width: 60px;
}

.cell .cell-data{
    padding: 3px;
    height: 100%;
    width: 60px;
    overflow: hidden;
}