<div class="items-group function-items">
    <div class="cask">
        <div class="align-half">
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--PlainText" aria-hidden="true"></i>
                <div dropmenu>
                    <span class="txt">Get<br />Data</span>
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
                <div class="dropmenu rules" tabindex="0">
                    <div class="block-item">
                        <span><i class="ms-Icon ms-Icon--Table" aria-hidden="true"></i></span>
                        <div>
                            <span class="md">From File</span>
                            <span class="mdm"><i class="ms-Icon ms-Icon--ChevronRight" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="block-item">
                        <span><i class="ms-Icon ms-Icon--Table" aria-hidden="true"></i></span>
                        <div>
                            <span class="md">From Database</span>
                            <span class="mdm"><i class="ms-Icon ms-Icon--ChevronRight" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="block-item">
                        <span><i class="ms-Icon ms-Icon--Table" aria-hidden="true"></i></span>
                        <div>
                            <span class="md">From Azure</span>
                            <span class="mdm"><i class="ms-Icon ms-Icon--ChevronRight" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="block-item">
                        <span><i class="ms-Icon ms-Icon--Table" aria-hidden="true"></i></span>
                        <div>
                            <span class="md">From Online Services</span>
                            <span class="mdm"><i class="ms-Icon ms-Icon--ChevronRight" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="block-item">
                        <span><i class="ms-Icon ms-Icon--Table" aria-hidden="true"></i></span>
                        <span class="md">From Other Sources</span>
                        <span class="mdm"><i class="ms-Icon ms-Icon--ChevronRight" aria-hidden="true"></i></span>
                    </div>
                    <div class="item"><span></span><span class="hr"></span></div>
                    <div class="block-item">
                        <span><i class="ms-Icon ms-Icon--Table" aria-hidden="true"></i></span>
                        <span class="md">Combine Queries</span>
                        <span class="mdm"><i class="ms-Icon ms-Icon--ChevronRight" aria-hidden="true"></i></span>
                    </div>
                    <div class="hr"></div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>Launch Power Query Editor</span>
                    </div>
                    <div class="item"><span></span><span class="hr"></span></div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>Data Source Settings</span>
                    </div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span>Query Options</span>
                    </div>
                </div>
            </div>
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--EntitlementRedemption" aria-hidden="true"></i>
                <div>
                    <span class="txt">From<br />Text/CSV</span>
                </div>
            </div>
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--Globe" aria-hidden="true"></i>
                <div>
                    <span class="txt">From<br />Web</span>
                </div>
            </div>
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--Table" aria-hidden="true"></i>
                <div>
                    <span class="txt">From Table/<br />Range</span>
                </div>
            </div>
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--RecurringTask" aria-hidden="true"></i>
                <div>
                    <span class="txt">Recent<br />Sources</span>
                </div>
            </div>
        </div>
        <div class="align-half">
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--OfflineStorage" aria-hidden="true"></i>
                <div>
                    <span class="txt">Existing<br />Connections</span>
                </div>
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Get & Transform Data</p>
    </div>
</div>