<div class="items-group cells-items">
    <div class="cask">
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--TimelineMatrixView" aria-hidden="true"></i>
            <div dropmenu>
                <span class="txt">Conditional</span><br />Formatting
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
            <div class="dropmenu rules" tabindex="0">
                <div class="block-item">
                    <span><i class="ms-Icon ms-Icon--Table" aria-hidden="true"></i></span>
                    <div>
                        <span class="md">Highlight Cells Rules</span>
                        <span class="mdm"><i class="ms-Icon ms-Icon--ChevronRight" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="block-item">
                    <span><i class="ms-Icon ms-Icon--Table" aria-hidden="true"></i></span>
                    <div>
                        <span class="md">Top/Bottom Rules</span>
                        <span class="mdm"><i class="ms-Icon ms-Icon--ChevronRight" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="item"><span></span><span class="hr"></span></div>
                <div class="block-item">
                    <span><i class="ms-Icon ms-Icon--Table" aria-hidden="true"></i></span>
                    <div>
                        <span class="md">Data Bars</span>
                        <span class="mdm"><i class="ms-Icon ms-Icon--ChevronRight" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="block-item">
                    <span><i class="ms-Icon ms-Icon--Table" aria-hidden="true"></i></span>
                    <div>
                        <span class="md">Color Scales</span>
                        <span class="mdm"><i class="ms-Icon ms-Icon--ChevronRight" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="block-item">
                    <span><i class="ms-Icon ms-Icon--Table" aria-hidden="true"></i></span>
                    <span class="md">Icon Sets</span>
                    <span class="mdm"><i class="ms-Icon ms-Icon--ChevronRight" aria-hidden="true"></i></span>
                </div>
                <div class="item"><span></span><span class="hr"></span></div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                    <span>New Rule</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                    <span>Clear Rules</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                    <span>Manage Rules</span>
                </div>
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--TableComputed" aria-hidden="true"></i>
            <div>
                <span class="txt">Format as</span><br />Table
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--BacklogBoard" aria-hidden="true"></i>
            <div>
                <span class="txt">Cell</span><br />Styles
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Styles</p>
        <i class="ms-Icon ms-Icon--ArrowDownRight8" aria-hidden="true"></i>
    </div>
</div>