<div class="items-group window-items">
    <div class="cask">
        <div class="align-half">
            <div>
                <div class="mni-vertical nb">
                    <i class="ms-Icon ms-Icon--Favicon" aria-hidden="true"></i>
                    <div>
                        <span class="txt">New</span><br />Window
                    </div>
                </div>
                <div class="mni-vertical nb">
                    <i class="ms-Icon ms-Icon--Tab" aria-hidden="true"></i>
                    <div>
                        <span class="txt">Arrange</span><br />All
                    </div>
                </div>
                <div class="mni-vertical nb">
                    <i class="ms-Icon ms-Icon--ClosePane" aria-hidden="true"></i>
                    <div>
                        <span class="txt">Freeze</span><br />Panes
                        <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div>
                <div class="mni-badge"><i class="ms-Icon ms-Icon--ExpandMenu" aria-hidden="true"></i>Split</div>
                <div class="mni-badge"><i class="ms-Icon ms-Icon--UnSetColor" aria-hidden="true"></i>Hide</div>
                <div class="mni-badge"><i class="ms-Icon ms-Icon--Favicon" aria-hidden="true"></i>Unhide</div>
            </div>
        </div>
        <div class="align-half">
            <div>
                <div class="mni-badge">
                    <i class="ms-Icon ms-Icon--LargeGrid" aria-hidden="true"></i>View Side by Side
                </div>
                <div class="mni-badge">
                    <i class="ms-Icon ms-Icon--DependencyAdd" aria-hidden="true"></i>Synchronous Scrolling
                </div>
                <div class="mni-badge">
                    <i class="ms-Icon ms-Icon--DependencyAdd" aria-hidden="true"></i>Reset Window Position
                </div>
            </div>
        </div>
        <div class="align-half">
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--OpenEnrollment" aria-hidden="true"></i>
                <div>
                    <span class="txt">Switch</span><br />Windows
                </div>
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Window</p>
        <i class="ms-Icon ms-Icon--ArrowDownRight8" aria-hidden="true"></i>
    </div>
</div>