<div class="items-group window-items">
    <div class="cask">
        <div class="align-half">
            <div>
                <div class="mni-vertical nb si-hide">
                    <i class="ms-Icon ms-Icon--Favicon" aria-hidden="true"></i>
                    <div>
                        <span class="txt">New<br class="si-no-break" /> Window</span>
                    </div>
                </div>
                <div class="mni-vertical nb si-hide">
                    <i class="ms-Icon ms-Icon--Tab" aria-hidden="true"></i>
                    <div>
                        <span class="txt">Arrange<br class="si-no-break" /> All</span>
                    </div>
                </div>
                <div class="mni-vertical nb si-hide">
                    <i class="ms-Icon ms-Icon--ClosePane" aria-hidden="true"></i>
                    <div dropmenu>
                        <span class="txt">Freeze<br class="si-no-break" /> Panes</span>
                        <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                    </div>
                    <div class="dropmenu rules" tabindex="0">
                        <div class="block-item">
                            <span><i class="ms-Icon ms-Icon--Table" aria-hidden="true"></i></span>
                            <div>
                                <span class="md">Freeze Panes</span>
                            </div>
                        </div>
                        <div class="block-item">
                            <span><i class="ms-Icon ms-Icon--Table" aria-hidden="true"></i></span>
                            <div>
                                <span class="md">Freeze Top Row</span>
                            </div>
                        </div>
                        <div class="block-item">
                            <span><i class="ms-Icon ms-Icon--Table" aria-hidden="true"></i></span>
                            <div>
                                <span class="md">Freeze First Column</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="mni-badge"><i class="ms-Icon ms-Icon--ExpandMenu" aria-hidden="true"></i><span>Split</span></div>
                <div class="mni-badge"><i class="ms-Icon ms-Icon--UnSetColor" aria-hidden="true"></i><span>Hide</span></div>
                <div class="mni-badge"><i class="ms-Icon ms-Icon--Favicon" aria-hidden="true"></i><span>Unhide</span></div>
            </div>
        </div>
        <div class="align-half">
            <div>
                <div class="mni-badge">
                    <i class="ms-Icon ms-Icon--LargeGrid" aria-hidden="true"></i>
                    <span class="si-no-break">View Side by Side</span>
                </div>
                <div class="mni-badge">
                    <i class="ms-Icon ms-Icon--DependencyAdd" aria-hidden="true"></i>
                    <span class="si-no-break">Synchronous Scrolling</span>
                </div>
                <div class="mni-badge">
                    <i class="ms-Icon ms-Icon--DependencyAdd" aria-hidden="true"></i>
                    <span class="si-no-break">Reset Window Position</span>
                </div>
            </div>
        </div>
        <div class="align-half">
            <div class="mni-vertical nb">
                <i class="ms-Icon ms-Icon--OpenEnrollment" aria-hidden="true"></i>
                <div dropmenu>
                    <span class="txt">Switch</span><br />Windows
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
                </div>
                <div class="dropmenu rules" tabindex="0">
                    <div class="item">
                        <span></span>
                        <span>1 Book 1</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Window</p>
        <i class="ms-Icon ms-Icon--ArrowDownRight8" aria-hidden="true"></i>
    </div>
</div>