<div class="items-group">
    <div class="cask">
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--UnstackSelected" aria-hidden="true"></i>
            <div>
                <span class="txt">Normal</span>
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--MicrosoftTranslatorLogoGreen" aria-hidden="true"></i>
            <div>
                <span class="txt">Page Break</span><br /> Preview
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--MicrosoftTranslatorLogoGreen" aria-hidden="true"></i>
            <div>
                <span class="txt">Page</span><br /> Layout
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--MicrosoftTranslatorLogoGreen" aria-hidden="true"></i>
            <div>
                <span class="txt">Custom</span><br /> Views
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Workbook Views</p>
    </div>
</div>