<div class="items-group">
    <div class="cask">
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--Zoom" aria-hidden="true"></i>
            <div>
                <span class="txt">Zoom</span>
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--ChromeFullScreen" aria-hidden="true"></i>
            <div>
                <span class="txt">100%</span>
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--MultiSelect" aria-hidden="true"></i>
            <div>
                <span class="txt">Zoom to</span><br /> Selection
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Zoom</p>
    </div>
</div>