<div class="items-group">
    <div class="cask">
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--UnstackSelected" aria-hidden="true"></i>
            <div>
                <span class="txt">What if</span><br />Analysis
                    <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--MicrosoftTranslatorLogoGreen" aria-hidden="true"></i>
            <div>
                <span class="txt">Forecast</span><br /> Sheet
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Forecast</p>
    </div>
</div>