<div class="items-group cells-items">
    <div class="cask">
        <div class="mni-vertical fo-hide si-hide">
            <i class="ms-Icon ms-Icon--InsertRowsAbove" aria-hidden="true"></i>
            <div dropmenu>
                <span class="txt fi-no-break">Insert</span><br class="fi-no-break" />
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
            <div class="dropmenu" tabindex="0">
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                    <span>Insert Cells</span>
                </div>
                <div class="item"><span></span><span class="hr"></span></div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                    <span>Insert Sheet Rows</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                    <span>Insert Sheet Columns</span>
                </div>
                <div class="item"><span></span><span class="hr"></span></div>
                <div class="item">
                    <span></span>
                    <span>Insert Sheet</span>
                </div>
            </div>
        </div>
        <div class="mni-vertical fo-hide si-hide">
            <i class="ms-Icon ms-Icon--DeleteTable" aria-hidden="true"></i>
            <div dropmenu>
                <span class="txt fi-no-break">Delete</span><br class="fi-no-break" />
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
            <div class="dropmenu" tabindex="0">
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                    <span>Delete Cells</span>
                </div>
                <div class="item"><span></span><span class="hr"></span></div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                    <span>Delete Sheet Rows</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                    <span>Delete Sheet Columns</span>
                </div>
                <div class="item"><span></span><span class="hr"></span></div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                    <span>Delete Sheet</span>
                </div>
            </div>
        </div>
        <div class="mni-vertical nb fo-hide si-hide">
            <i class="ms-Icon ms-Icon--TableGroup" aria-hidden="true"></i>
            <div dropmenu>
                <span class="txt fi-no-break">Format</span><br class="fo-no-break" />
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
            <div class="dropmenu" tabindex="0">
                <div class="heading">Cell Size</div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                    <span>Row Height</span>
                </div>
                <div class="item">
                    <span></span>
                    <span>AutoFit Row Height</span>
                </div>
                <div class="item"><span></span><span class="hr"></span></div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                    <span>Column width</span>
                </div>
                <div class="item">
                    <span></span>
                    <span>AutoFit Column Height</span>
                </div>
                <div class="item">
                    <span></span>
                    <span>Default width</span>
                </div>
                <div class="hr"></div>
                <div class="heading">Visibility</div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                    <div>
                        <span>Hide & Unhide</span>
                        <span class="mdm"><i class="ms-Icon ms-Icon--ChevronRight" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="hr"></div>
                <div class="heading">Organize Sheet</div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                    <span>Rename Sheet</span>
                </div>
                <div class="item">
                    <span></span>
                    <span>Move or Copy Sheet</span>
                </div>
                <div class="item">
                    <span></span>
                    <div>
                        <span>Tab Color</span>
                        <span class="mdm"><i class="ms-Icon ms-Icon--ChevronRight" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="hr"></div>
                <div class="heading">Protection</div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                    <span>Protect Sheet</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                    <span>Lock Cell</span>
                </div>
                <div class="item"><span></span><span class="hr"></span></div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Underline" aria-hidden="true"></i></span>
                    <span>Format Cells</span>
                </div>
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Cells</p>
        <i class="ms-Icon ms-Icon--ArrowDownRight8" aria-hidden="true"></i>
    </div>
</div>