<div class="items-group">
    <div class="cask">
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--LineChart" aria-hidden="true"></i>
            <div>
                <span class="txt">Line</span>
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--StackColumnChart" aria-hidden="true"></i>
            <div>
                <span class="txt">Column</span>
            </div>
        </div>
        <div class="mni-vertical nb">
            <i class="ms-Icon ms-Icon--HorizontalDistributeCenter" aria-hidden="true"></i>
            <div>
                <span class="txt">Win/</span><br />Loss
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Sparklines</p>
    </div>
</div>