<div class="menubar">
    <div class="menu">
        <div *ngFor="let item of menuItems; let i = index" 
        class="item {{i == activeMenu? 'active' : ''}}"
        (click)="selectMenu(i)">
            <span>{{item.name}}</span>
        </div>
    </div>

    <div class="group-container">
        <!--Home-->
         <div class="items-container" *ngIf="activeMenu == 1">
            <clipboard-menu></clipboard-menu>
            <font-menu></font-menu>
            <alignment-menu></alignment-menu>
            <number-menu></number-menu>
            <styles-menu></styles-menu>
            <cells-menu></cells-menu>
            <editing-menu></editing-menu>
            <adins-menu> </adins-menu>
        </div>
        <!--Insert-->
        <div class="items-container" *ngIf="activeMenu == 2">
            <tables-menu></tables-menu>
            <illustrations-menu></illustrations-menu>
            <charts-menu></charts-menu>
            <sparklines-menu></sparklines-menu>
            <filters-menu></filters-menu>
            <links-menu></links-menu>
            <text-menu></text-menu>
            <symbols-menu></symbols-menu>
        </div>
        <!--Draw-->
        <div class="items-container" *ngIf="activeMenu == 3">
            <input-menu></input-menu>
            <drawing-menu></drawing-menu>
            <convert-menu></convert-menu>
            <replay-menu></replay-menu>
            <help-menu></help-menu>
        </div>
        <!--Page Layout-->
        <div class="items-container" *ngIf="activeMenu == 4">
            <themes-menu></themes-menu>
            <page-menu></page-menu>
            <scale-menu></scale-menu>
            <sheet-menu></sheet-menu>
            <arrange-menu></arrange-menu>
        </div>
        <!--Formulas-->
        <div class="items-container" *ngIf="activeMenu == 5">
            <function-menu></function-menu>
            <defined-menu></defined-menu>
            <formula-menu></formula-menu>
            <calculation-menu></calculation-menu>
        </div>
        <!--Data-->
        <div class="items-container" *ngIf="activeMenu == 6">
            <transform-menu></transform-menu>
            <queries-menu></queries-menu>
            <sort-menu></sort-menu>
            <data-menu></data-menu>
            <forecast-menu></forecast-menu>
            <outline-menu></outline-menu>
        </div>
        <!--Review-->
        <div class="items-container" *ngIf="activeMenu == 7">
            <proofing-menu></proofing-menu>
            <accessibility-menu></accessibility-menu>
            <language-menu></language-menu>
            <comments-menu></comments-menu>
            <protect-menu></protect-menu>
            <ink-menu></ink-menu>
        </div>
        <!--View-->
        <div class="items-container" *ngIf="activeMenu == 8">
            <workbook-menu></workbook-menu>
            <show-menu></show-menu>
            <zoom-menu></zoom-menu>
            <window-menu></window-menu>
            <macros-menu></macros-menu>
        </div>
        <!--Help-->
        <div class="items-container" *ngIf="activeMenu == 9">
            <help-menu></help-menu>
            <community-menu></community-menu>
        </div>
    </div>
</div>