<div class="items-group alignment-items">
            <div class="cask">
                <div class="align-half align-transform">
                    <div class="vertical">
                        <span class="mni"><i class="ms-Icon ms-Icon--ListMirrored" aria-hidden="true"></i></span>
                        <span class="mni"><i class="ms-Icon ms-Icon--SecondaryNav" aria-hidden="true"></i></span>
                        <span class="mni"><i class="ms-Icon ms-Icon--GlobalNavButton" aria-hidden="true"></i></span>
                    </div>
                    <span class="group-mni">
                        <span><i class="ms-Icon ms-Icon--Rotate" aria-hidden="true"></i></span>
                        <i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
                    </span>
                    <div class="horizontal">
                        <span class="mni"><i class="ms-Icon ms-Icon--AlignLeft" aria-hidden="true"></i></span>
                        <span class="mni"><i class="ms-Icon ms-Icon--AlignCenter" aria-hidden="true"></i></span>
                        <span class="mni"><i class="ms-Icon ms-Icon--AlignRight" aria-hidden="true"></i></span>
                    </div>
                    <div class="indents">
                        <span class="mni"><i class="ms-Icon ms-Icon--DecreaseIndentLegacy" aria-hidden="true"></i></span>
                        <span class="mni"><i class="ms-Icon ms-Icon--IncreaseIndentLegacy" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="align-half">
                    <div class="mni-badge"><i class="ms-Icon ms-Icon--InsertTextBox" aria-hidden="true"></i>Wrap Text</div>
                    <div>
                        <span class="group-mni">
                            <span>
                                <i class="ms-Icon ms-Icon--TabCenter" aria-hidden="true"></i>
                                <span>Merge & Center</span>
                            </span>
                            <i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="group-title">
                <p>Alignment</p>
                <i class="ms-Icon ms-Icon--ArrowDownRight8" aria-hidden="true"></i>
            </div>
        </div>