<div class="items-group">
    <div class="cask">
        <div class="mni-vertical nb s-hide">
            <i class="ms-Icon ms-Icon--DiffInline" aria-hidden="true"></i>
            <div>
                <span class="txt s-no-break">Text to<br class="s-no-break" /> Columns</span>
            </div>
        </div>
        <div class="mni-vertical nb s-hide">
            <i class="ms-Icon ms-Icon--TableComputed" aria-hidden="true"></i>
            <div>
                <span class="txt s-no-break">Flash<br class="s-no-break" />Fill</span>
            </div>
        </div>
        <div class="mni-vertical nb s-hide">
            <i class="ms-Icon ms-Icon--RemoveFromShoppingList" aria-hidden="true"></i>
            <div>
                <span class="txt s-no-break">Remove<br class="s-no-break" /> Duplicates</span>
            </div>
        </div>
        <div class="mni-vertical s-hide">
            <i class="ms-Icon ms-Icon--EntitlementRedemption" aria-hidden="true"></i>
            <div dropmenu>
                <span class="txt s-no-break">Data<br class="s-no-break" /> Validation</span>
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
            <div class="dropmenu rules" tabindex="0">
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Data Validation</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Circle Invalid Data</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Clear Validation Circles</span>
                </div>
            </div>
        </div>
        <div class="mni-vertical nb s-hide">
            <i class="ms-Icon ms-Icon--HardDriveGroup" aria-hidden="true"></i>
            <div>
                <span class="txt s-no-break">Consolidate</span>
            </div>
        </div>
        <div class="mni-vertical nb s-hide">
            <i class="ms-Icon ms-Icon--ModelingView" aria-hidden="true"></i>
            <div dropmenu>
                <span class="txt s-no-break">Data<br class="s-no-break" /> Model</span>
                <span><i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i></span>
            </div>
            <div class="dropmenu rules" tabindex="0">
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Manage Data Model</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <div>
                        <span>3D Map</span>
                        <span class="mdm"><i class="ms-Icon ms-Icon--ChevronRight" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Relationships</span>
                </div>
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Data Tools</p>
    </div>
</div>