<div class="items-group">
    <div class="cask">
        <div class="mni-vertical nb f-hide">
            <i class="ms-Icon ms-Icon--DeleteTable" aria-hidden="true"></i>
            <div dropmenu>
                <span class="txt">Equation</span><br class="f-no-break"/>
                <i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
            </div>
            <div class="dropmenu" tabindex="0">
                <div>
                    <div class="heading">Area of Circle</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span></span>
                    </div>
                    <div class="hr"></div>
                    <div class="heading">Bionomial Theorem</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span></span>
                    </div>
                    <div class="hr"></div>
                    <div class="heading">Expansion of a Sum</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span></span>
                    </div>
                    <div class="hr"></div>
                    <div class="heading">Fourier Series</div>
                    <div class="item">
                        <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                        <span></span>
                    </div>
                    <div class="hr"></div>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Insert Equation</span>
                </div>
                <div class="item">
                    <span><i class="ms-Icon ms-Icon--Copy" aria-hidden="true"></i></span>
                    <span>Ink Equation</span>
                </div>
            </div>
        </div>
        <div class="mni-vertical nb f-hide">
            <i class="ms-Icon ms-Icon--Table" aria-hidden="true"></i>
            <div>
                <span class="txt">Symbol</span>
            </div>
        </div>
    </div>
    <div class="group-title">
        <p>Symbols</p>
    </div>
</div>