<div class="items-group">
    <div class="mni-vertical nb">
        <i class="ms-Icon ms-Icon--DeleteTable" aria-hidden="true"></i>
        <div>
            <span class="txt">Equation</span>
            <i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
        </div>
    </div>
    <div class="mni-vertical nb">
        <i class="ms-Icon ms-Icon--Table" aria-hidden="true"></i>
        <div>
            <span class="txt">Symbol</span>
        </div>
    </div>
    <div class="group-title">
        <p>Symbols</p>
    </div>
</div>